<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransactionLabel">Create or edit a Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transaction.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tId">T Id</label>
            <input type="number" class="form-control" name="tId" id="field_tId"
                [(ngModel)]="transaction.tId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_placedCredits">Placed Credits</label>
            <input type="number" class="form-control" name="placedCredits" id="field_placedCredits"
                [(ngModel)]="transaction.placedCredits" required/>
            <div [hidden]="!(editForm.controls.placedCredits?.dirty && editForm.controls.placedCredits?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.placedCredits?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.placedCredits?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_placedOn">Placed On</label>
            <div class="d-flex">
                <input id="field_placedOn" type="datetime-local" class="form-control" name="placedOn" [(ngModel)]="transaction.placedOn"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.placedOn?.dirty && editForm.controls.placedOn?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.placedOn?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.placedOn?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="transaction.customer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id === transaction.customer?.id ? transaction.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_placedBy">Placed By</label>
            <select class="form-control" id="field_placedBy" name="placedBy" [(ngModel)]="transaction.placedBy">
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id === transaction.placedBy?.id ? transaction.placedBy : customerOption" *ngFor="let customerOption of placedbies; trackBy: trackCustomerById">{{customerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_option">Option</label>
            <select class="form-control" id="field_option" name="option" [(ngModel)]="transaction.option">
                <option [ngValue]="null"></option>
                <option [ngValue]="optionsOption.id === transaction.option?.id ? transaction.option : optionsOption" *ngFor="let optionsOption of options; trackBy: trackOptionsById">{{optionsOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_item">Item</label>
            <select class="form-control" id="field_item" name="item" [(ngModel)]="transaction.item">
                <option [ngValue]="null"></option>
                <option [ngValue]="itemsOption.id === transaction.item?.id ? transaction.item : itemsOption" *ngFor="let itemsOption of items; trackBy: trackItemsById">{{itemsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
