
<div *ngIf="options">
    <h2><span>Options</span> {{options.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Op Id</span></dt>
        <dd>
            <span>{{options.opId}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{options.name}}</span>
        </dd>
        <dt><span>Ratio</span></dt>
        <dd>
            <span>{{options.ratio}}</span>
        </dd>
        <dt><span>Items</span></dt>
        <dd>
            <div *ngIf="options.items">
                <a [routerLink]="['/items', options.items?.id]">{{options.items?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'options/'+ options.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
